<h1>These are the body parts for the exercises</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @body_parts.each do |body_part| %>
      <tr>
        <td><%= body_part.name %></td>
        <td><%= link_to 'Show', body_part %></td>
        <td><%= link_to 'Edit', edit_body_part_path(body_part) %></td>
        <td><%= link_to 'Destroy', body_part, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p> Add a new body part that you want to train</p>

<%= button_to 'New body part', new_body_part_path, :class => "btn-success", :method => :get %>
